.menu {
    position: relative;
}

.currency {
    position: absolute;
}

.button {
    position: absolute;
}

.defaultContainer {
    cursor: default;
    user-select: none;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upgradeButton {
    position: relative;
    width: max-content;
}

.hoverInfobox {
    position: absolute;
    width: max-content;
    text-align: center;
    max-width: 200px;
    top: 27px;
    background-color: #cfcfcf;
    padding: 2px;
    outline: 1px solid #000000;
}

.upgradeGroup {
    position: absolute;
    display: flex;
}